*, *::after, *::before{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.wrap{
    max-width: 1250px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.colored-logo{
    width: 200px;
    /* height: 70px; */
    /* border:1px solid red; */
    cursor: pointer;
    margin-right: 20px;
    transition: width .3s ease-in-out;
    position: relative;
}
.toggle-menu{
    /* border: 1px solid red; */
    /* width: 35px; */
    /* height: 20px; */
    display: flex;
    flex-direction: column;
    gap: .5rem;
    cursor: pointer;
    transition: width 200ms;
    position: relative;
    z-index: 5;
    user-select: none;
}

#nav-list.show-menu{
    clip-path: circle(141.4% at 0 100%);
}

.toggle-menu span{
    width: 37px;
    height: 3px;
    border-radius: 4px;
    background-color: #525252;
    transition: 400ms linear;
}

.toggle-menu.toggled span{
    background: #f2f2f2;
}
.toggle-menu.toggled span:first-of-type{
    width: 15px;
}

.nav-container{
    padding: 10px 10px;
    width: 100%; 
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 10;    
}
.nav-container .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container.shrink{
    background-color: #fff;
    box-shadow: 1px 1px 3px rgb(240, 240, 240);
}
.nav-container.shrink nav{
    height: 60px;
}
.nav-container.shrink .colored-logo{
    width: 150px;
    /* height: 35px; */
}
.nav-container.shrink nav .toggle-menu{
    width: 30px;
}
nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: height .3s ease-in-out;
}
#nav-list{
    position: absolute;
    right: 0;
    top:0;
    z-index: 0;
    list-style-type: none;
    /* background-color: #f3f3f3; */
    background-color: #343b47;
    color:#fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* clip-path: circle(0% at 86.5% 7%); */
    clip-path: circle(0% at 3% 96%);
    transition: clip-path 400ms ease-in;
}
#nav-list a{
    text-decoration: none;
    /* color:rgb(80, 79, 79); */
    color: #fff;
    padding: 1rem;
    display: inline-block;
    position: relative;
}
#nav-list a:hover{
    color: #FFAF36;
}
#nav-list a:hover::after{
    font-size: 2rem;
    content: "←";
    position: absolute;
    right: -30px;
    top: 0;
}


/* Hero section  **********/
.hero{
    padding:4rem 2rem 0 2rem;
    max-width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url(../images/Hero-bg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1208%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='%2332325d'%3e%3c/rect%3e%3ccircle r='101.425' cx='1389.71' cy='715.23' fill='url(%23SvgjsLinearGradient1209)'%3e%3c/circle%3e%3ccircle r='41.825' cx='1763.08' cy='876.47' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='71.26' cx='167.03' cy='1024.65' fill='url(%23SvgjsLinearGradient1210)'%3e%3c/circle%3e%3ccircle r='98.665' cx='708.81' cy='197.94' fill='url(%23SvgjsLinearGradient1211)'%3e%3c/circle%3e%3ccircle r='40.65' cx='601.78' cy='426.98' fill='url(%23SvgjsLinearGradient1212)'%3e%3c/circle%3e%3ccircle r='52.955' cx='1598.67' cy='709.08' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='27.63' cx='334.12' cy='740.64' fill='url(%23SvgjsLinearGradient1213)'%3e%3c/circle%3e%3ccircle r='97.91' cx='998.07' cy='997.16' fill='url(%23SvgjsLinearGradient1214)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1208'%3e%3crect width='1920' height='1080' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='1186.8600000000001' y1='715.23' x2='1592.5600000000002' y2='715.23' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1209'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='24.50999999999999' y1='1024.65' x2='309.55' y2='1024.65' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1210'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='511.4799999999999' y1='197.94' x2='906.1399999999999' y2='197.94' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1211'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='520.48' y1='426.98' x2='683.08' y2='426.98' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1212'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='278.86' y1='740.64' x2='389.38' y2='740.64' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1213'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='802.25' y1='997.1599999999999' x2='1193.8899999999999' y2='997.1599999999999' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1214'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1025%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1269.53 929.62 a217.64 217.64 0 1 0 435.28 0 a217.64 217.64 0 1 0 -435.28 0z' fill='rgba(142%2c 104%2c 28%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1988.2359162541336 426.4216940696029L1964.5544074958077 233.5512828046819 1771.6839962308866 257.2327915630079 1795.3655049892127 450.10320282792884z' fill='rgba(142%2c 104%2c 28%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1475.35 875.7 a228.17 228.17 0 1 0 456.34 0 a228.17 228.17 0 1 0 -456.34 0z' fill='rgba(142%2c 104%2c 28%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1375.8222895391057 334.8600833819484L1515.5078182387351 534.3516927650425 1714.9994276218292 394.666164065413 1575.3138989221998 195.17455468231896z' fill='rgba(142%2c 104%2c 28%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1050.6173876199236 909.7941107501869L1268.7782972035034 902.1757639145085 1261.1599503678249 684.0148543309289 1042.9990407842454 691.6332011666073z' fill='rgba(142%2c 104%2c 28%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M994.5154745903465 22.53436151905248L821.3322229684607 195.71761314093828 994.5154745903465 368.9008647628241 1167.6987262122323 195.71761314093825z' fill='rgba(142%2c 104%2c 28%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M284.99 621.51 a236.11 236.11 0 1 0 472.22 0 a236.11 236.11 0 1 0 -472.22 0z' fill='rgba(142%2c 104%2c 28%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-9.36 4.82 a206.75 206.75 0 1 0 413.5 0 a206.75 206.75 0 1 0 -413.5 0z' fill='rgba(142%2c 104%2c 28%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1025'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
    
    object-fit:fill;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel-control2{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.carousel-control2 span.current-slide{
    background-color: #FFAF36;
}
.carousel-control2 span{
    height: 8px;
    flex-grow: 1;
    background: #ececec;
    border-radius: 2px;
    transition: background-color 300ms linear;
    cursor: pointer;
}

.slide-container{
    padding:4rem 2rem 0rem 2rem;
    list-style-type: none;
    width: 100%;
    height: 80%;
    position: relative;
    offset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide {
    padding:0rem 5rem 0rem 5rem;
    /* padding-bottom:4rem; */
    background-color: rgba(255,255,255, 1);
    opacity: 0;
    position: absolute;
    offset: 0;
    transition: .2s opacity ease-in;
    clip-path: polygon(6% 0, 95% 0, 100% 5%, 100% 93%, 100% 100%, 0 100%, 0 93%, 0 5%);
}
.slide img{
    /* display: none; */
    max-width: 100%;
    /* outline: 1px solid blue; */
    /* padding : 2rem 0; */
}
li.active{
    /* display: block; */
    transition: .75s opacity ease-in;
    opacity: 1;
}
.vertical-nav{
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 5;
    /* border: 1px solid #333; */
    transform: scale(0.01);
    transition: transform 400ms cubic-bezier(.16,.68,.56,1.57);
}
.show-v-nav{
    transform: scale(1);
}
.vertical-nav div{
    padding: 1rem;
    user-select: none;
    font-size: 3em;
    color: rgb(209, 209, 209);
    cursor: pointer;
    border-radius: 2px;
    /* height: 60px; */
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 175, 54, 0.7); */
    background-color: rgba(187, 187, 187, 0.7);
    margin-bottom: 5px;
}
.vertical-nav div:hover{
    color: #fff;
    /* background-color: rgb(255, 175, 54); */
    background-color: #7a7a7a;
}


/* About Us section **********/
.about-us{
    /* padding-top: 140px; */
    padding: 6rem 1rem 1rem 1rem;
    position:relative;
    overflow: hidden;
    background-color: #F9F9F9;
}
.about-us .wrap{
    position: relative;
    z-index: 2;
}
h2.section-title{
    position: relative;
    color: #FFAF36;
    font-weight: 500;
    font-size : 2em;
    padding: 0px 0px 0px 10px;
    border-left: 5px solid #6297FF;
    margin-bottom: 2rem;
    /* border: 1px solid red; */
}
/* h2.section-title::after{
    content:"";
    position:absolute;
    right: 0;
    top: 50%;
    height: 3px;
    width: 40px;
    background-color: #FFAF36;
    user-select: none;
} */
h2.section-title::after{
    content:" •••";
    position:absolute;
    right: 0;
    height: 3px;
    user-select: none;
    color:#6297ff;
}
.about-us p{
    font-size: 1em;
    max-width: 550px;
    text-align: justify;
    margin-bottom: 1rem;
    line-height: 1.8em;
    color: #656565;
    position: relative;
    z-index: 2;
}

.about-us h3{
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #6297FF;
    font-weight: 600;
    position: relative;
    z-index: 2;
}
.about-us h3:last-of-type{
    margin-top: 2rem;
}
.about-us-desc{
    opacity: 0;
    transform: translate(-30px);
    margin-bottom: 1rem;

}
.mission{
    opacity: 0;
    transform: translate(-30px);
    margin-bottom: 2rem;
}
.vision{
    margin-bottom: 120px;
    opacity: 0;
    transform: translate(-30px);
}
.about-us-graphics{
    position: absolute;
    right : -200px;
    bottom: -100px;
    z-index: -1;
    transform: scale(0.8);
}
.c1{
    position: absolute;
    z-index: 1;
    top: -15px;
    right: 30px;

    background: #fbe7c8;
    height: 280px;
    width: 280px;
    border-radius: 150px;
    transform: scale(0);
}
.c2{
    position: absolute;
    z-index: 1;
    top: 205px;
    right: 370px;

    background: #dbe5fa;
    height: 130px;
    width: 130px;
    border-radius: 150px;
    transform: scale(0);
}
.c3{
    position: absolute;
    z-index: 1;
    top: 50px;
    right: 577px;

    background: #faf2e6;
    height: 100px;
    width: 100px;
    border-radius: 150px;
    transform: scale(0);
}
.c4{
    position: absolute;
    bottom: -30px;
    left: 50px;

    background: #fbe7c8;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    transform: scale(0);
}

/* Development Program section **********/
.dev-program{
    /* padding-top: 140px; */
    padding: 6rem 1rem 1rem 1rem;
    background-color: #fff;
    padding-bottom: 100px;
    /* position: relative; */
}
.program-lists{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
.program-container{
    cursor: pointer;
    opacity: 0;
    transform: translate(-30px);
}
.program-container:hover > .programs{
    background-color: #ffb951;
    transform: translateY(-5px)
}

.programs{
    height: 180px;
    width: 180px;
    background-color: #ffc56e;
    /* background-color: rgb(243, 104, 104); */
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms ease;
}
.programs img{
    width: 70px;
}
.desc{
    overflow: hidden;
}
.desc h4{
    font-size: 1.4em;
    font-weight: 600;
    color: #444;
    margin-top: 1rem;
    text-align: center
}
.desc p{
    font-size: .9em;
    color: #444;
    max-width: 180px;
    text-align: center;
    margin-top: .5rem;
    line-height: 150%;
}


/* Events section **********/
.events{
    background: #f9f9f9;
    /* padding-top: 140px;
    padding-bottom: 100px; */
    padding: 6rem 1rem 1rem 1rem;
    position: relative;
}
.events-filter .active{
    /* font-weight: 700; */
    color: #FFAF36;
}
.events-filter{ 
    max-width: 100%;
    margin-bottom: 2.5rem;
}
.events-filter ul{
    font-size: 1em;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    /* border: 1px solid red; */
}
.events-filter li{
    cursor: pointer;
}
.events-filter li:hover{
    color: #FFAF36;
}
.events-list2{
    width: 100%;
    display: flex;
    gap: 3rem;
    overflow: hidden;
    position: relative;
}
.events-list2 > div{
    opacity: 0;
    transform: translate(-20px);
}
.latest-event{
    width: 50%;
}
.latest-event > img{
    width: 100%;
    object-fit:cover;
    /* margin-bottom: 1rem; */
}
.event-details{
    background: #fff;
    box-shadow: 0px 2px 4px rgba(200, 200, 200, 0.25);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: all 300ms linear;
}
.event-details:hover .event-date{
    background-color: #FFAF36;
}
.event-info{
    padding: 1rem;
    border-left: 5px solid #6297FF;
}
.event-info > p{
    color: #666;
    font-size: .9rem;
}
.event-date{
    min-width : 150px;
    background-color: #ffb951;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.event-date span:first-child{
    font-size: 2.5rem;
    font-weight: 300;
}
.event-date span:last-child{
    font-size: .9rem;
    margin-top:-10px;
}

.previous-events{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.events-lists{
    max-width: 820px;
    position: relative;
}
.event-item{
    margin-bottom: 1.2rem;
    height: 145px;
    max-width: 815px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(200, 200, 200, 0.25);
    background-color: #fff;
    padding: 18px;
    display: flex;
    gap: 1rem;
    transition: box-shadow .3s ease-in-out, transform .1s ease-in;
}
.event-item:hover{
    cursor: pointer;
    /* transform: translateY(-3px); */
    box-shadow: 0px 3px 4px rgba(160, 160, 160, 0.25);
}
.event-item:hover > .event-desc .event-title{
    color: #FFAF36;
}

.thumbnail{
    height: 110px;
    width: 110px;
    background-color: #ffc671;
    overflow: hidden;
    border-radius: 4px;
}
.thumbnail img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.event-desc{
    height: 110px;
}
.event-title{
    font-size: 1.1em;
    font-weight: 500;
    color: #444;
    margin-bottom: .5rem;
    transition: color 150ms ease-in;
}
.event-desc p{
    font-size: 1em;
    color: #555;
    margin-bottom: .3rem;
}
.eventsViewBtn{
    margin-top: 1rem;
    cursor: pointer;
    user-select: none;
    color: #969AFD;
    font-size: .8em;
    position: absolute;
    right: 0;
}
.eventsViewBtn span{
    font-size: 1.5em;
}


/* News section **********/
.news{
    /* padding: 140px 0 120px 0; */
    padding: 6rem 1rem 4rem 1rem;
    background: #f9f9f9;

}
.news-filter .active{
    /* font-weight: 700; */
    color: #FFAF36;
}
.news-filter{ 
    /* max-width: 815px; */
    margin-bottom: 2.5rem;
}
.news-filter ul{
    font-size: 1em;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.news-filter li{
    cursor: pointer;
}
.news-filter li:hover{
    color: #FFAF36;
}
.articles{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.news-item{
    cursor: pointer;
    background: #fff;
    min-width: 285px;
    box-shadow: 0px 3px 4px rgba(209, 209, 209, 0.25);
    border-radius: 3px;
    border-bottom: 4px solid #FFAF36;
    opacity: 0;
    transform: translate(-10px);
}
.news-item:hover .news-thumbnail img{
    transform: scale(1.02);
    filter: grayscale(0%);
}
.news-thumbnail{
    padding-top: 0.4rem;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: #FFAF36;
    height: 200px;
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
}
.news-thumbnail img{
    user-select: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms;
    filter: grayscale(50%);
}
.news-desc{
    padding-left: .8rem;
    padding-right: .8rem;
    padding-bottom: .8rem;
}
.news-title{
    /* max-width: 300px; */
    margin-bottom: .5rem;
    color: #444;
    font-size: 1em;
    font-weight: 600;
}
.news-desc p:first-of-type{
    font-size: 15px;
    color: #555;
}
.news-date{
    text-align: right;
    font-size: .9em;
    color: #666;
}
.news .wrap{
    position: relative;
}

/* Trusted Partners *******/
.trusted-partners{
    /* padding-top: 140px;
    padding-bottom: 100px; */
    padding: 6rem 1rem 1rem 1rem;

}
.partners-container{
    width: 100%;
    margin-top: 4rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);   
}
.partners-container img{
    width: 300px;
    background-color: #fff;
    border: 1px solid rgba(200, 200, 200, 0.25);
    box-shadow: 0px 2px 4px rgba(200, 200, 200, 0.25);
    filter: grayscale(75%);
    opacity: 0;
    transform: translate(-20px);
}
.partners-container img:hover{
    filter: grayscale(10%);
}


/* Contact Us section **********/
.contact-us{
    /* padding: 140px 0 120px 0; */
    padding: 6rem 1rem 4rem 1rem;
    background: #fff;
}

.contact-us-content{
    display: flex;
    justify-content: space-around;
}

.contact-us-content > div{
    /* border: 1px solid royalblue */
}

.contact-us-content h3{
    font-size: 1.3em;
    font-weight: 500;
    color: #444;
    margin-bottom: 1.2rem;
    margin-top: 1rem;
}

.contact-us-content p{
    color: #666;
    max-width: 500px;
    line-height: 30px;
    margin-bottom: 2rem;
    font-size: .9em;
}
.contact-form input.required,
.contact-form textarea.required{
    outline: 2px solid #fd5f5f; 
}

.contact-form input::after,
.contact-form textarea::after
{
    content:"aasdasdsd";
    color: red;
    height: 16px;
    background-color: #333;
    position: absolute;
}
.contact-form{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact-form input, textarea{
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    background-color: #F5F4FA;
    padding: .95rem;
    resize: none;
    font-size: .9em;
    transition: all 200ms;
    color: #555;
}
.contact-form input:focus,
.contact-form textarea:focus{
    border-left: 10px solid #FFAF36;
}

.contact-form button{
    outline: 0;
    border: 0;
    border-radius: 4px;
    background-color:#FFAF36;
    color: #fff;
    padding: .95rem;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 300ms ease;
}

.contact-form button:hover,
.contact-form button:focus{
    opacity: 1;
}

.contact-graphics{
    /* margin-top: 4rem;    */
    width: 550px;
    /* margin-bottom: 1.5rem; */
}

.contact-info{
    list-style-type: none;
    /* margin-left: 60px; */
    margin: 20px auto;
    max-width: 400px;
}

.contact-info li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color:#444;
    font-size: 14px;
}
.contact-info li span{
    padding: 6px;
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 2px solid #6297ff;
    background: #6297ff;
    border-radius: 2px;
    margin-right: 1.5rem;
}

.contact-info li img{
    /* height: 20px; */
    background-size: cover;
    background-position: center;
    /* width: 100% */
}

/* Footer */
footer{
    background-color: #2D3441;
    padding-top: 3rem;
    /* padding-bottom: 1rem; */
}

footer .wrap{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footer-info > img{
    margin-bottom: 2rem;
    width: 270px;
}

.footer-info ul{
    max-width: 350px;
    list-style: none;
    font-size: 15px;
}
.footer-info li{
    margin-bottom: 10px;
    color: #d4d4d4;
}

.footer-nav{

}
.footer-nav h4{
    color: #FFAF36;
    margin-bottom: 10px;
}
.footer-nav{
    list-style-type: none;
    font-size: 15px;
}
.footer-nav li {
    margin-bottom: 10px;
}
.footer-nav a{
    color: #d4d4d4;
    text-decoration: none;
}


.footer-programs h4{
    color: #FFAF36;
    margin-bottom: 10px;
}
.footer-programs{
    list-style-type: none;
    font-size: 15px;
}
.footer-programs li {
    margin-bottom: 10px;
}
.footer-programs a{
    color: #d4d4d4;
    text-decoration: none;
}


.footer-social h4{
    color: #FFAF36;
    margin-bottom: 10px;
}
.footer-social{
    list-style-type: none;
    font-size: 15px;
}
.footer-social li {
    margin-bottom: 10px;
}
.footer-social a{
    color: #d4d4d4;
    text-decoration: none;
}

.copyright{
    margin-top: 2rem;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    background: #272e3a;
    color: #fff;
    /* padding: 1rem; */
}
.copyright span{
    color:#FFAF36;
    font-weight: 500;
}