
@media screen and (max-width: 600px){
    .nav-container{
        padding: 0rem 2rem;
    }
    .colored-logo{
        width: 150px;
        /* height: 70px; */
        /* border:1px solid red; */
        cursor: pointer;
        margin-right: 20px;
        transition: width .3s ease-in-out;
        position: relative;
    }
    .toggle-menu{
        width: 25px;
        /* height: 20px; */
        cursor: pointer;
        transition: width .3s ease-in-out;
        position: relative;
        z-index: 5;
    }
    .hero{
        max-height: 700px;
        padding: 0 .5rem;
        background-image: url(../images/Hero-bg.svg);
        /* background-position: center; */
        /* background-size: cover; */
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .carousel-btns img{
        height: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav-container{
        padding: 0rem 2rem;
    }
    .carousel-btns img{
        height: 40px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}